## Implementeer elk gemaakt ETL-schema in Python

**imports & connection**

In [9]:
import pandas as pd
import pyodbc

In [10]:
DB = {'servername': 'LAPTOP-LPE28RPE\SQLEXPRESS', 
    'database': 'United_outdoors'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + 
                              ';DATABASE=' + DB['database'])

export_cursor = export_conn.cursor()
export_cursor

**Database connection**

In [11]:

Adventure = {
    'servername' : 'LAPTOP-LPE28RPE\SQLEXPRESS',
    'database' : 'AdventureWorks2019'
}


Northwind = {
    'servername' : 'LAPTOP-LPE28RPE\SQLEXPRESS',
    'database' : 'Northwind'
}

access_db_path = r'C:\Users\Humberto de Castro\OneDrive\Desktop\SEM4\AenC\aenc.accdb'

#Connect to AdventureWorks
Adventure_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Adventure['servername']};DATABASE={Adventure['database']};Trusted_Connection=yes;")
Adventure_cursor = Adventure_conn.cursor()

#Connect to Northwind
Northwind_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={Northwind['servername']};DATABASE={Northwind['database']};Trusted_Connection=yes;")
Northwind_cursor = Northwind_conn.cursor()

#Connect to AenC
AenC_conn = pyodbc.connect(f"DRIVER={{Microsoft Access Driver (*.mdb, *.accdb)}};DBQ={access_db_path};")

In [12]:
AdventureWorks_queries = {
    'SalesOrderHeader' : 'SELECT * FROM Sales.SalesOrderHeader',
    'SalesOrderDetail' : 'SELECT * FROM Sales.SalesOrderDetail'
}

Northwind_queries = {
    'Orders' : 'SELECT * FROM Orders',
    'OrderDetails' : 'SELECT * FROM [Order Details]'
}

AenC_queries = {
    'sales_order' : 'SELECT * FROM sales_order',
    'sales_order_item' : 'SELECT * FROM sales_order_item'
}

dataframes = {}

# Lees elke tabel in een DataFrame

for table_name, query in AdventureWorks_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)

for table_name, query in Northwind_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)

for table_name, query in AenC_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

#als je ik elk tabel als een dataframe/ variabele wil behandelen of aanroepen moet ik dit uitvoeren.
for table_name, df in dataframes.items():
    globals()[table_name] = df

C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_27600\3695189965.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Adventure_conn)
C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_27600\3695189965.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, Northwind_conn)
C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_27600\3695189965.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframes[table_name] = pd.read_sql_query(query, AenC_conn)

### Order

**Extract**

In [13]:
#eerst horizontaal samenvoegen per database:
AdventureWorks_Order = pd.merge(SalesOrderHeader, SalesOrderDetail, on = 'SalesOrderID')
Northwind_Order = pd.merge(Orders, OrderDetails, on = 'OrderID')
AenC_Order = pd.merge(sales_order, sales_order_item, on = 'id')

**Transform**

**Check of orderID's conflicten**

In [14]:
AdventureWorks_Order.rename(columns={
    'SalesOrderID': 'OrderID',
    'SalesOrderDetailID': 'OrderDetailID',
    'OrderQty': 'Quantity',
    'UnitPriceDiscount': 'Discount',
    'Order_Date': 'OrderDate',
    'SalesPersonID' : 'EmployeeID'
}, inplace=True)

# change shipvia to string 
#Northwind_Order['ShipVia'] = Northwind_Order['ShipVia'].astype(str)
Northwind_Order.rename(columns={
    'ShipVia': 'ShipMethodID'
}, inplace=True)

AenC_Order.rename(columns={
    'id': 'OrderID',
    'item_id': 'OrderDetailID',
    'quantity': 'Quantity',
    'order_date': 'OrderDate',
    'cust_id': 'CustomerID',
    'sales_rep': 'EmployeeID',
    'prod_id': 'ProductID'
}, inplace=True)

order_order_ids = set(AdventureWorks_Order['OrderID'])
order_details_order_ids = set(Northwind_Order['OrderID'])
Order_AenC_ids = set(AenC_Order['OrderID'])

# Zoek conflicten tussen AdventureWorks en Northwind
conflicting_order_ids_1 = order_order_ids.intersection(order_details_order_ids)

# Zoek conflicten tussen AdventureWorks en AenC
conflicting_order_ids_2 = order_order_ids.intersection(Order_AenC_ids)

# Zoek conflicten tussen Northwind en AenC
conflicting_order_ids_3 = order_details_order_ids.intersection(Order_AenC_ids)

# Combineer alle conflicterende ID's
all_conflicting_order_ids = conflicting_order_ids_1.union(conflicting_order_ids_2).union(conflicting_order_ids_3)

if all_conflicting_order_ids:
    print("Conflicting Order IDs found:", all_conflicting_order_ids)
else:
    print("No conflicts found in Order IDs.")

# Display the conflicting Order IDs (if any)
conflicts_df = pd.DataFrame(list(all_conflicting_order_ids), columns=['Conflicting Order IDs'])
print(conflicts_df)

No conflicts found in Order IDs.
Empty DataFrame
Columns: [Conflicting Order IDs]
Index: []

**Alle dubbele ID's met een suffix zetten per database**

In [15]:
# Adding a prefix to EmployeeIDs for each source DataFrame
AdventureWorks_Order['EmployeeID'] = AdventureWorks_Order['EmployeeID'].apply(lambda x: f'AW_{x}')
Northwind_Order['EmployeeID'] = Northwind_Order['EmployeeID'].apply(lambda x: f'NW_{x}')
AenC_Order['EmployeeID'] = AenC_Order['EmployeeID'].apply(lambda x: f'AC_{x}')

#prefix for SHIPMETHOD

AdventureWorks_Order['ShipMethodID'] = AdventureWorks_Order['ShipMethodID'].apply(lambda x: f'AW_{x}')
Northwind_Order['ShipMethodID'] = Northwind_Order['ShipMethodID'].apply(lambda x: f'NW_{x}')
#AenC_Order['ShipMethodID'] = AenC_Order['ShipMethodID'].apply(lambda x: f'AC_{x}')

#prefix for ProductID

AdventureWorks_Order['ProductID'] = AdventureWorks_Order['ProductID'].apply(lambda x: f'AW_{x}')
Northwind_Order['ProductID'] = Northwind_Order['ProductID'].apply(lambda x: f'NW_{x}')
AenC_Order['ProductID'] = AenC_Order['ProductID'].apply(lambda x: f'AC_{x}')

#prefix for CustomerID

AdventureWorks_Order['CustomerID'] = AdventureWorks_Order['CustomerID'].apply(lambda x: f'AW_{x}')
#Northwind_Order['CustomerID'] = Northwind_Order['CustomerID'].apply(lambda x: f'NW_{x}')
AenC_Order['CustomerID'] = AenC_Order['CustomerID'].apply(lambda x: f'AC_{x}')

# maar dan ook prefix zetten in bijbehorende dimensies en tabellen.

In [16]:


# Zorg ervoor dat alle vereiste kolommen bestaan en selecteer ze
required_columns = ['OrderID', 'OrderDetailID', 'Quantity', 'UnitPrice', 'Discount', 'OrderDate', 'CustomerID', 'EmployeeID', 'ShipMethodID', 'ProductID']

for col in required_columns:
    if col not in AdventureWorks_Order.columns:
        AdventureWorks_Order[col] = None
    if col not in Northwind_Order.columns:
        Northwind_Order[col] = None
    if col not in AenC_Order.columns:
        AenC_Order[col] = None

# Selecteer de kolommen in de juiste volgorde
AdventureWorks_Order = AdventureWorks_Order[required_columns]
Northwind_Order = Northwind_Order[required_columns]
AenC_Order = AenC_Order[required_columns]

# Combineer de dataframes
Order = pd.concat([AdventureWorks_Order, Northwind_Order, AenC_Order], ignore_index=True)

# Toon het resultaat
#print(combined_df)
print(Order.dtypes)

C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_27600\3279905989.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  Order = pd.concat([AdventureWorks_Order, Northwind_Order, AenC_Order], ignore_index=True)

OrderID           object
OrderDetailID     object
Quantity          object
UnitPrice        float64
Discount         float64
OrderDate         object
CustomerID        object
EmployeeID        object
ShipMethodID      object
ProductID         object
dtype: object

In [17]:
# Ensure correct data types and formats
Order['OrderDate'] = pd.to_datetime(Order['OrderDate'], errors='coerce')

# Insert data into the table
for index, row in Order.iterrows():
    try:
        query = """
        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
        """
        # Ensure OrderDate is in the correct format
        params = (
            row['OrderID'], row['OrderDetailID'], row['Quantity'], row['UnitPrice'],
            row['Discount'], row['OrderDate'].strftime('%Y-%m-%d %H:%M:%S') if pd.notnull(row['OrderDate']) else None,
            row['CustomerID'], row['EmployeeID'], row['ShipMethodID'], row['ProductID']
        )
        export_cursor.execute(query, params)
    except pyodbc.Error as e:
        print(f"An error occurred: {e}")
        print(query)
        print("Parameters:", params)

export_conn.commit()

An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2001', None, '12', nan, nan, '1996-03-14 00:00:00', 'AC_101', 'AC_299', None, 'AC_300')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2001', None, '12', nan, nan, '1996-03-14 00:00:00', 'AC_101', 'AC_299', None, 'AC_301')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2001', None, '12', nan, nan, '1996-03-14 00:00:00', 'AC_101', 'AC_299', None, 'AC_302')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2002', None, '24', nan, nan, '1996-03-18 00:00:00', 'AC_102', 'AC_467', None, 'AC_400')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2002', None, '24', nan, nan, '1996-03-18 00:00:00', 'AC_102', 'AC_467', None, 'AC_401')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2003', None, '12', nan, nan, '1996-03-21 00:00:00', 'AC_103', 'AC_1039', None, 'AC_500')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2003', None, '12', nan, nan, '1996-03-21 00:00:00', 'AC_103', 'AC_1039', None, 'AC_501')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2003', None, '12', nan, nan, '1996-03-21 00:00:00', 'AC_103', 'AC_1039', None, 'AC_400')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2004', None, '48', nan, nan, '1996-03-23 00:00:00', 'AC_104', 'AC_902', None, 'AC_600')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2004', None, '48', nan, nan, '1996-03-23 00:00:00', 'AC_104', 'AC_902', None, 'AC_601')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2005', None, '12', nan, nan, '1996-03-24 00:00:00', 'AC_101', 'AC_856', None, 'AC_700')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2006', None, '48', nan, nan, '1996-03-28 00:00:00', 'AC_105', 'AC_299', None, 'AC_300')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2007', None, '24', nan, nan, '1996-03-28 00:00:00', 'AC_106', 'AC_667', None, 'AC_301')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2008', None, '12', nan, nan, '1996-03-01 00:00:00', 'AC_107', 'AC_129', None, 'AC_302')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2009', None, '12', nan, nan, '1996-04-04 00:00:00', 'AC_108', 'AC_1142', None, 'AC_400')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2010', None, '12', nan, nan, '1996-04-05 00:00:00', 'AC_109', 'AC_195', None, 'AC_401')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2011', None, '36', nan, nan, '1996-04-06 00:00:00', 'AC_110', 'AC_690', None, 'AC_500')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2012', None, '12', nan, nan, '1996-04-06 00:00:00', 'AC_111', 'AC_1596', None, 'AC_501')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2013', None, '24', nan, nan, '1996-04-06 00:00:00', 'AC_112', 'AC_299', None, 'AC_600')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2013', None, '24', nan, nan, '1996-04-06 00:00:00', 'AC_112', 'AC_299', None, 'AC_601')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2014', None, '36', nan, nan, '1996-04-07 00:00:00', 'AC_113', 'AC_467', None, 'AC_700')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2015', None, '24', nan, nan, '1996-04-30 00:00:00', 'AC_114', 'AC_949', None, 'AC_300')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2015', None, '24', nan, nan, '1996-04-30 00:00:00', 'AC_114', 'AC_949', None, 'AC_301')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2015', None, '24', nan, nan, '1996-04-30 00:00:00', 'AC_114', 'AC_949', None, 'AC_302')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2015', None, '24', nan, nan, '1996-04-30 00:00:00', 'AC_114', 'AC_949', None, 'AC_700')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2016', None, '12', nan, nan, '1996-04-01 00:00:00', 'AC_115', 'AC_902', None, 'AC_400')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

Parameters: ('2016', None, '12', nan, nan, '1996-04-01 00:00:00', 'AC_115', 'AC_902', None, 'AC_401')
An error occurred: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 7 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

        INSERT INTO [Order] (OrderID, OrderDetailID, Quantity, UnitPrice, Discount, OrderDate, CustomerID, EmployeeID, ShipMethodID, ProductID)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
